@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:400,600&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  font-family: 'Poppins',
    sans-serif;
}

body {
  margin: 0;
}

mat-radio-group,
.mat-radio-button {
  display: block !important;
}

.mat-form-field {
  width: 100%;
}


h1,
h2,
h3 {
  font-family: 'Playfair Display',
    serif;
  word-break: break-word;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-family: 'Poppins',
    sans-serif;
}
