.home {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg.jpg');
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  animation-delay: .5s;

  .container {
    width: 60%;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
      width: 90%;
    }
  }

  p {
    text-transform: uppercase;
    letter-spacing: 20px;
    margin: 0;
    font-size: 1.4rem;
    animation-delay: .8s;

    @media screen and (max-width: 992px) {
      font-size: 1rem;
      letter-spacing: 10px;
    }

  }

  h1 {
    margin-top: 6px;
    font-size: 3.2rem;
    animation-delay: 1.2s;

    @media screen and (max-width: 992px) {
      font-size: 2rem;
    }
  }

  button {
    animation-delay: 1.6s;
  }
}