.questions {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/bg1.jpg');
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: 0% 70%;
  animation-delay: .3s;

  @media screen and (max-width: 992px) {
    background-position: center;
  }

  .title {
    margin: 60px 0 30px 0;
    text-align: center;
    padding: 0 20px;

    @media screen and (max-width: 992px) {
      margin: 30px 0 30px 0;
    }

    p {
      color: #5e5e5e;

      @media screen and (max-width: 992px) {
        font-size: .9rem;
      }
    }

    h1 {
      @media screen and (max-width: 992px) {
        font-size: 2rem;
      }
    }
  }

  img {
    max-width: 400px;

    @media screen and (max-width: 992px) {
      max-width: 90%;
    }
  }

  .container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;

    @media screen and (max-width: 992px) {
      width: 90%;
      margin-bottom: 200px;
    }
  }

  .question-label {
    font-size: 2rem;

    @media screen and (max-width: 992px) {
      font-size: 1.3rem;
    }
  }

  mat-radio-group {
    margin-top: 20px;

    .mat-radio-button {
      margin: 20px;
    }
  }

  .mat-form-field-label {
    @media screen and (max-width: 992px) {
      text-overflow: initial;
      overflow: initial;
      white-space: initial;

    }

  }

  .mat-form-field-label-wrapper {
    @media screen and (max-width: 992px) {
      top: -18px;
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding: 20px;

    @media screen and (max-width: 992px) {
      padding: 20px 0;
      flex-direction: column;
    }

    button {
      margin: 10px;
    }
  }
}