<div class="home fade-in">
  <div class="container">
    <p class="slide-in-fwd-top">Welcome to </p>
    <h1 class="slide-in-fwd-top">Privathaftpflichtversicherung <br> Questionnaire</h1>
    <button class="slide-in-fwd-top" mat-raised-button color="primary" [routerLink]="['/questionnaire']">Start
      Questionnaire</button>
  </div>
</div>
