<div class="questions fade-in">
  <div class="title fade-in">
    <img src="assets/success.svg" alt="">
    <h1>Thank you for completing the Questionnaire</h1>
  </div>
  <div class="container">

    <div class="buttons">
      <button mat-stroked-button color="primary" [routerLink]="['/']">Back to home</button>

      <button mat-raised-button color="primary" [routerLink]="['/questionnaire']">Restart Questionnaire</button>
    </div>

  </div>
</div>
