<div class="questions fade-in">
  <div class="title fade-in" *ngIf="questionsList.length > 0">
    <button mat-button color="primary" [routerLink]="['/']">Back to home</button>
    <h1>{{qTitle}} <br> Questionnaire</h1>
    <p>{{qDesc}}</p>
  </div>
  <div class="container" *ngIf="questionsList.length > 0">
    <!-- Multiple choices template -->
    <div [ngClass]="{'fade-in-top': animateQ}" *ngIf="questionsList[qIndex].question_type === 'multiple-choice'">
      <label class="question-label" id="questionsList[qIndex].identifier">{{qIndex + 1}} -
        {{questionsList[qIndex].headline}}</label>
      <mat-radio-group [(ngModel)]="selection[qIndex]" (change)="onChange($event, qIndex)"
        aria-labelledby="question.identifier" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let choice of questionsList[qIndex].choices"
          [value]="questionsList[qIndex].identifier + '-' + choice.value">
          {{choice.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- Text template -->
    <div [ngClass]="{'fade-in-top': animateQ}" *ngIf="questionsList[qIndex].question_type === 'text'">
      <mat-form-field appearance="outline">
        <mat-label>{{questionsList[qIndex].headline}}</mat-label>
        <input id="questionsList[qIndex].identifier" matInput placeholder="Answer" [(ngModel)]="selection[qIndex]"
          (change)="onChange($event, qIndex)">
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-stroked-button color="primary" *ngIf="qIndex > 0" (click)="prevQuestion()">Previous
        Question</button>
      <button mat-raised-button id="button-next" color="accent" *ngIf="qIndex !== questionsList.length-1"
        (click)="nextQuestion()">Next
        Question</button>
      <button mat-raised-button color="primary" *ngIf=" qIndex===questionsList.length-1"
        [routerLink]="['/success']">Submit
        Answers</button>
    </div>

  </div>
</div>
